Week 3/Challenges/force-app/main/default/flows/C_3_Create_Multiple_Class_Rosters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Decision010_Check_If_Another_Roster_Desired</name>
        <label>Decision010 Check If Another Roster Desired</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No Further Rosters</defaultConnectorLabel>
        <rules>
            <name>Another_Roster_Desired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRosterDesired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Action010_Create_Single_Class_Roster</targetReference>
            </connector>
            <label>Another Roster Desired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>C-3 Create Multiple Class Rosters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>C-3 Create Multiple Class Rosters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen010_Another_Roster_Prompt</name>
        <label>Screen010 Another Roster Prompt</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision010_Check_If_Another_Roster_Desired</targetReference>
        </connector>
        <fields>
            <name>inputRosterDesired</name>
            <dataType>Boolean</dataType>
            <fieldText>Create another class roster entry?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action010_Create_Single_Class_Roster</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Action010_Create_Single_Class_Roster</name>
        <label>Action010 Create Single Class Roster</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Screen010_Another_Roster_Prompt</targetReference>
        </connector>
        <flowName>C_2_Create_Class_Roster</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
