Week 3/Challenges/force-app/main/default/flows/E_1_Create_Students_from_Class_with_Capactiy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>recordchoiceClassesWithSpace</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Spots_Available__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Class__c</object>
        <sortField>Spots_Available__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>E-1 Create Students from Class with Capactiy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-1 Create Students from Class with Capactiy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen010_Class_Chooser</name>
        <label>Screen010 Class Chooser</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Subflow010_Create_Students</targetReference>
        </connector>
        <fields>
            <name>inputClassId</name>
            <choiceReferences>recordchoiceClassesWithSpace</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose A Class</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen010_Class_Chooser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Subflow010_Create_Students</name>
        <label>Subflow010 Create Students</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>C_3_Create_Multiple_Class_Rosters</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>inputClassId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
