Week 3/Challenges/force-app/main/default/flows/E_3_Automatically_Share_with_Teacher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Decision010_Check_If_Flow_Should_Run</name>
        <label>Decision010 Check If Flow Should Run</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No Teacher Change</defaultConnectorLabel>
        <rules>
            <name>Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create010_New_Share_Record</targetReference>
            </connector>
            <label>Record Created</label>
        </rules>
        <rules>
            <name>New_Teacher_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssignedTeacher__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AssignedTeacher__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get010_Old_Share_Record</targetReference>
            </connector>
            <label>New Teacher Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>E-3 Automatically Share with Teacher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-3 Automatically Share with Teacher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create010_New_Share_Record</name>
        <label>Create010 New Share Record</label>
        <locationX>226</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.AssignedTeacher__c</elementReference>
            </value>
        </inputAssignments>
        <object>Class__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete010_Old_Share_Records</name>
        <label>Delete010 Old Share Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create010_New_Share_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create010_New_Share_Record</targetReference>
        </faultConnector>
        <inputReference>Get010_Old_Share_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get010_Old_Share_Record</name>
        <label>Get010 Old Share Record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete010_Old_Share_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AssignedTeacher__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Class__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision010_Check_If_Flow_Should_Run</targetReference>
        </connector>
        <object>Class__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
